
/* General */

.app {
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

html {
  font-size: 62.5%;
  color: white;
  background: black;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}


/* Header */
.movieInfo {
  height: 50rem;
  border: 0.3rem solid white;
  margin: 5rem 0;
  background: grey;
}


/* Movie Container */

.movieContainer {
  display: flex;
  flex-wrap: wrap;
}

.movieContainer li {
  width: 20%;
  padding: 2.5rem 0;
}

.movieContainer li p {
  font-size: 1.75rem;
  padding: 1rem 0;
}

button {
  border: 0.1rem solid white;
  background: none;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

