
/* General */

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

html {
  font-size: 62.5%;
  color: white;
  background: rgba(0, 0, 0);
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}


/* Header */

.movieInfoAndVideo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50rem;
  margin: 5rem 0;
  background: black;
  border: 0.5rem solid white;
  font-size: 2rem;
  padding: 2.5rem;
}

/* Video */

.youtubePlayer {
  width: 60rem;
  height: 40rem;
}

.videoContainer {
  border: 0.5rem solid white;
}

/* Movie Container */

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.movieContainer li {
  width: 13%;
  margin: 2rem;
  background: black;
  padding: 2rem;
  border: 0.5rem solid white;
}

.movieContainer li p {
  font-size: 1.75rem;
  padding: 1rem 0;
}

button {
  border: 0.1rem solid white;
  background: none;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  color:black;
  background: white;
}

